body {
    background-color: rgb(242, 238, 238);
}

nav a {
    display: block;
}

.header-anchor {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.top {
}

.icon {
    position: fixed;
    background-color: inherit;
    right: 30px;
    bottom: 30px;
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    z-index: 1000;
  }

/* --------------- Блокова модель, Flexbox --------------- */

.box-width-height {
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    border: 2px solid #f44336;
    padding: 5px;
    margin: 10px;
    background-color: #ffeb3b;
}

.box-box-sizing {
    width: 15px;
    height: 15px;
    border: 2px solid #f44336;
    padding: 5px;
    margin: 10px;
    background-color: #ffeb3b;
}

.flexbox-padding {
    border: 1px solid black;
    padding: 3px;
}

.flexbox-margin {
    border: 1px solid black;
    margin: 5px;
}

.flexbox-border {
    border: 3px solid red;
}

.flexbox-border-radius {
    border: 3px solid red;
    border-radius: 10px;
}

.flexbox-menu {
    display: flex;
    list-style: none;
}

.flexbox-item {
    background-color: black;
    color: red;
    padding: 5px;
}

.flexbox-item:not(:first-child) {
    margin-left: 25px;
}

.direction {
    flex-direction: row-reverse;
}

.justify {
    justify-content: space-around;
}

.align {
    height: 100px;
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
    gap: 5px;
}

.wrap > .flexbox-item {
    flex-basis: calc((100% - 90px) / 10);
    margin: 0;
}

.align-content {
    height: 150px;
    flex-wrap: wrap;
    align-content: space-between;
}

.align-content > .flexbox-item {
    margin-left: 10px;
}

/* --------------- Декоративні ефекти та елементи, Векторна графіка --------------- */

.graphic-background {
    background-color: aquamarine;
}

.graphic-image {
    background-color: rebeccapurple;
    background-image: url('https://i.ebayimg.com/thumbs/images/g/E2cAAOSwCrJihqu9/s-l300.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient {
    background-image: repeating-radial-gradient(
    circle,
    rgb(178, 130, 178),
    rgb(235, 123, 235) 10px,
    #896998 10px,
    #c69fda 20px
  );
}

.boxshadow {
    box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
    0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal;
}

/* --------------- Модальні вікна --------------- */

.modal-windows {
    width: 100%;
    height: 200px;
    outline: 1px solid red;
    text-align: center;
}

/* --------------- Слайдери --------------- */

.slider {
    width: 100%;
    height: 200px;
    outline: 1px solid red;
    text-align: center;
}

.swiper {
        width: 100%;
        height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------- Бібліотека з анімованим фоном --------------- */

.animation-background {
    position: relative;
    width: 100%;
    height: 600px;
    outline: 1px solid red;
    text-align: center;
}

.animation-background .header-anchor {
    position: relative;
    z-index: 1;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --------------- WOW Animations --------------- */

.wow-animations {
    width: 100%;
    height: 200px;
    outline: 1px solid red;
    text-align: center;
}

.wow-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.wow-item {
    width: 100px;
    height: 50px;
    background-color: green;
    list-style: none;
    text-align: center;
}

.general {
    width: 1440px;
    padding: 20px 40px;
    outline: 1px solid red;
    margin-bottom: 25px;
}

.table {
    text-align: center;
}

.table-example {
    outline: 1px solid black;
}

.table-example td, .table-example th {
    padding: 5px;
    border: 1px solid black;
}

.texts-decor {
    text-decoration: underline;
}

.texts-transform {
    text-transform: capitalize;
}

.texts-spacing {
    letter-spacing: 10px;
}

.texts-word-spacing {
    word-spacing: 10px;
}

.texts-shadow {
    text-shadow: 2px 2px 2px red, 4px 4px 2px blue;
}

.texts-white-space {
    white-space: pre-wrap;
}

.texts-font-size {
    font-size: 20px;
}

.texts-font-weight {
    font-weight: 800;
}

.texts-font-style {
    font-style: italic;
}

.texts-font-family {
    font-family: Helvetica, sans-serif;
}

.texts-first-letter::first-letter {
    color: red;
}
.texts-selection::selection {
    background-color: black;
    color: white;
}